/* Jmol div (applet) */
#jmol_div{
	height: 85vh;
	width:  50vw;
	float: right;
	border: 1px solid black;
}

/* Tabbed box for Jmol-script commands */
#commands{
	height: 85vh;
	width:  40vw;
	float:	left;
	/* font-size: 90%; */
}

/* format for Jmol-script commands */
.jmolscript{
	font-family: "Courier New", courier, monospace;
	font-size: 	 85.0%;
	cursor:		 pointer;
}

label {
	font: 1rem "Fira Sans", sans-serif;
}

input {
	margin: 0.3rem;
}